<div class="movie-card-container">
  <mat-card *ngFor="let movie of movies" class="movie-card">
    <mat-card-header>
      <mat-card-title>{{ movie.Title }}</mat-card-title>
    </mat-card-header>
    <img
      class="movie-poster"
      src="{{ movie.ImagePath }}"
      alt="{{ movie.Title }}"
    />
    <mat-card-actions>
      <button
        mat-button
        color="primary"
        (click)="openDialog('genre', movie.Genre)"
      >
        Genre
      </button>
      <button
        mat-button
        color="primary"
        (click)="openDialog('director', movie.Director.Name)"
      >
        Director
      </button>
      <button
        mat-button
        color="primary"
        (click)="openDialog('synopsis', movie.Description)"
      >
        Synopsis
      </button>
      <a mat-button routerLink="/profile" routerLinkActive="active"
        >Go to Your Profile</a
      >
      <button
        mat-icon-button
        color="secondary"
        (click)="addToFavorites(movie._id)"
      >
        <mat-icon>favorite_border</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
