<app-navbar></app-navbar>
<mat-card *ngIf="user" class="profile-card">
  <mat-card-header>
    <mat-card-title
      ><p><strong>Your Profile</strong></p></mat-card-title
    >
  </mat-card-header>
  <mat-card-content>
    <div class="profile-details">
      <p><strong>Username:</strong> {{ user.Username }}</p>
      <p><strong>Email:</strong> {{ user.Email }}</p>
      <p><strong>Birthday</strong> {{ user.Birthday }}</p>
    </div>

    <button mat-raised-button (click)="editMode = !editMode">
      {{ editMode ? "Cancel" : "Edit Profile" }}
    </button>

    <button mat-raised-button (click)="deleteUserAccount()">
      Delete Account
    </button>

    <div *ngIf="editMode" class="edit-profile">
      <h3>Edit Profile</h3>
      <form (ngSubmit)="saveChanges()" #profileForm="ngForm">
        <mat-form-field>
          <input
            matInput
            type="text"
            name="Username"
            [(ngModel)]="editedUser.Username"
            required
          />
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            type="date"
            name="Birthday"
            [(ngModel)]="editedUser.Birthday"
            required
          />
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            type="email"
            name="Email"
            [(ngModel)]="editedUser.Email"
            required
          />
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            type="password"
            name="Password"
            [(ngModel)]="editedUser.Password"
            required
          />
        </mat-form-field>
        <button mat-raised-button type="submit">Save Changes</button>
      </form>
    </div>

    <div class="favorite-movies">
      <h3>Favorite Movies</h3>
      <ul>
        <li *ngFor="let movie of favoriteMovies">
          {{ movie.Title }}
          <button
            mat-icon-button
            color="secondary"
            (click)="removeFromFavorites(movie._id)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </li>
      </ul>
    </div>
  </mat-card-content>
</mat-card>
